
hmpps.sqs:
  useWebToken: true
  queues:
    hmppsdomainqueue:
      queueName: ${HMPPS_DOMAIN_QUEUE_NAME}
      queueArn: ${HMPPS_DOMAIN_QUEUE_ARN}
      dlqName: ${HMPPS_DOMAIN_DL_QUEUE_NAME}
      subscribeTopicId: domainevents
    plpsubscriberqueue:
      queueName: ${PLP_QUEUE_NAME}
      queueArn: ${PLP_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    pndsubscriberqueue:
      queueName: ${PND_QUEUE_NAME}
      queueArn: ${PND_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    catssubscriberqueue:
      queueName: ${CATS_QUEUE_NAME}
      queueArn: ${CATS_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
  topics:
    integrationeventtopic:
      arn: ${INTEGRATION_EVENT_TOPIC_ARN}

hmpps.secret:
  secrets:
    MEGANEXUS:
      secretId: live-hmpps-integration-api-prod-ac158e3d835607af
      queueId: plpsubscriberqueue
    PND:
      secretId: live-hmpps-integration-api-prod-44b3dec538976ac2
      queueId: pndsubscriberqueue
    CATS:
      secretId: live-hmpps-integration-api-prod-9ab7539aa5477cdb
      queueId: catssubscriberqueue

notifier:
  schedule:
    rate: 10000

subscriber-checker:
  schedule:
    rate: 600000

feature-flag:
  person-languages-changed-notifications-enabled: true
  prisoner-base-location-changed-notifications-enabled: true
  prisoner-merge-notifications-enabled: false
  contact-events-notifications-enabled: false