
hmpps.sqs:
  useWebToken: true
  queues:
    hmppsdomainqueue:
      queueName: ${HMPPS_DOMAIN_QUEUE_NAME}
      queueArn: ${HMPPS_DOMAIN_QUEUE_ARN}
      dlqName: ${HMPPS_DOMAIN_DL_QUEUE_NAME}
      subscribeTopicId: domainevents
  topics:
    domainevents:
      arn: ${HMPPS_DOMAIN_TOPIC_ARN}
    integrationeventtopic:
      arn: ${INTEGRATION_EVENT_TOPIC_ARN}

hmpps.secret:
  secrets:
    MEGANEXUS:
      secretId: live-hmpps-integration-api-prod-ac158e3d835607af
      queueId: plpsubscriberqueue

notifier:
  schedule:
    rate: 10000

subscriber-checker:
  schedule:
    rate: 600000
