
hmpps.sqs:
  useWebToken: true
  queues:
    hmppsdomainqueue:
      queueName: ${HMPPS_DOMAIN_QUEUE_NAME}
      queueArn: ${HMPPS_DOMAIN_QUEUE_ARN}
      dlqName: ${HMPPS_DOMAIN_DL_QUEUE_NAME}
      subscribeTopicId: domainevents
    mappssubscriberqueue:
      queueName: ${MAPPS_QUEUE_NAME}
      queueArn: ${MAPPS_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    pndsubscriberqueue:
      queueName: ${PND_QUEUE_NAME}
      queueArn: ${PND_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    bmadleysubscriberqueue:
      queueName: ${BMADLEY_QUEUE_NAME}
      queueArn: ${BMADLEY_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    testclientsubscriberqueue:
      queueName: ${TEST_CLIENT_QUEUE_NAME}
      queueArn: ${TEST_CLIENT_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    kilcosubscriberqueue:
      queueName: ${KILCO_QUEUE_NAME}
      queueArn: ${KILCO_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
  topics:
    domainevents:
      arn: ${HMPPS_DOMAIN_TOPIC_ARN}
    integrationeventtopic:
      arn: ${INTEGRATION_EVENT_TOPIC_ARN}

hmpps.secret:
  secrets:
    mapps-client-org:
      secretId: ${MAPPS_FILTER_POLICY_SECRET_ID}
      queueId: mappssubscriberqueue
    PND:
      secretId: ${PND_FILTER_POLICY_SECRET_ID}
      queueId: pndsubscriberqueue
    MEGANEXUS:
      secretId: ${PLP_FILTER_POLICY_SECRET_ID}
      queueId: plpsubscriberqueue
    BMADLEY:
      secretId: ${BMADLEY_FILTER_POLICY_SECRET_ID}
      queueId: bmadleysubscriberqueue
    KILCO:
      secretId: ${KILCO_FILTER_POLICY_SECRET_ID}
      queueId: kilcosubscriberqueue
notifier:
  schedule:
    rate: 10000

subscriber-checker:
  schedule:
    rate: 600000
