
hmpps.sqs:
  useWebToken: true
  queues:
    hmppsdomainqueue:
      queueName: ${HMPPS_DOMAIN_QUEUE_NAME}
      queueArn: ${HMPPS_DOMAIN_QUEUE_ARN}
      dlqName: ${HMPPS_DOMAIN_DL_QUEUE_NAME}
      subscribeTopicId: domainevents
    plpsubscriberqueue:
      queueName: ${PLP_QUEUE_NAME}
      queueArn: ${PLP_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    pndsubscriberqueue:
      queueName: ${PND_QUEUE_NAME}
      queueArn: ${PND_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
  topics:
    domainevents:
      arn: ${HMPPS_DOMAIN_TOPIC_ARN}
    integrationeventtopic:
      arn: ${INTEGRATION_EVENT_TOPIC_ARN}

hmpps.secret:
  secrets:
    MEGANEXUS:
      secretId: live-hmpps-integration-api-preprod-2fa8e4a7ee3726fc
      queueId: plpsubscriberqueue
    PND:
      secretId: live-hmpps-integration-api-preprod-afea65e8d033b24c
      queueId: pndsubscriberqueue

notifier:
  schedule:
    rate: 10000

subscriber-checker:
  schedule:
    rate: 600000
