
hmpps.sqs:
  useWebToken: true
  queues:
    hmppsdomainqueue:
      queueName: ${HMPPS_DOMAIN_QUEUE_NAME}
      queueArn: ${HMPPS_DOMAIN_QUEUE_ARN}
      dlqName: ${HMPPS_DOMAIN_DL_QUEUE_NAME}
      subscribeTopicId: domainevents
    mappssubscriberqueue:
      queueName: ${MAPPS_QUEUE_NAME}
      queueArn: ${MAPPS_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    plpsubscriberqueue:
      queueName: ${PLP_QUEUE_NAME}
      queueArn: ${PLP_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    pndsubscriberqueue:
      queueName: ${PND_QUEUE_NAME}
      queueArn: ${PND_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    bmadleysubscriberqueue:
      queueName: ${BMADLEY_QUEUE_NAME}
      queueArn: ${BMADLEY_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    testclientsubscriberqueue:
      queueName: ${TEST_CLIENT_QUEUE_NAME}
      queueArn: ${TEST_CLIENT_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    kilcosubscriberqueue:
      queueName: ${KILCO_QUEUE_NAME}
      queueArn: ${KILCO_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    catssubscriberqueue:
      queueName: ${CATS_QUEUE_NAME}
      queueArn: ${CATS_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    mojeswsubscriberqueue:
      queueName: ${MOJ_ESW_QUEUE_NAME}
      queueArn: ${MOJ_ESW_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    ctrlosubscriberqueue:
      queueName: ${CTRLO_QUEUE_NAME}
      queueArn: ${CTRLO_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
  topics:
    integrationeventtopic:
      arn: ${INTEGRATION_EVENT_TOPIC_ARN}

hmpps.secret:
  secrets:
    # Used to bind to an unwanted env variable (to be removed)
    mapps-client-org:
      secretId: ${MAPPS_FILTER_POLICY_SECRET_ID}
      queueId: mappssubscriberqueue
    MAPPS:
      secretId: live-hmpps-integration-api-dev-68707bf16962536e
      queueId: mappssubscriberqueue
    PND:
      secretId: ${PND_FILTER_POLICY_SECRET_ID}
      queueId: pndsubscriberqueue
    MEGANEXUS:
      secretId: ${PLP_FILTER_POLICY_SECRET_ID}
      queueId: plpsubscriberqueue
    BMADLEY:
      secretId: ${BMADLEY_FILTER_POLICY_SECRET_ID}
      queueId: bmadleysubscriberqueue
    KILCO:
      secretId: ${KILCO_FILTER_POLICY_SECRET_ID}
      queueId: kilcosubscriberqueue
    CATS:
      secretId: live-hmpps-integration-api-dev-88d1b457a0f861ec
      queueId: catssubscriberqueue
    MOJ-ESW:
      secretId: live-hmpps-integration-api-dev-412962aea4333ad8
      queueId: mojeswsubscriberqueue
    CTRLO:
      secretId: live-hmpps-integration-api-dev-7111f5a05e9715be
      queueId: ctrlosubscriberqueue

notifier:
  schedule:
    rate: 10000

subscriber-checker:
  schedule:
    rate: 600000

feature-flag:
  # At least one IntegrationEventType is explicitly flagged off in dev
  person-languages-changed-notifications-enabled: false
  prisoner-base-location-changed-notifications-enabled: true
  prisoner-merge-notifications-enabled: true
  contact-events-notifications-enabled: true
  limited-access-notifications-enabled: true
  enable-delete-processed-events: false