
hmpps.sqs:
  useWebToken: true
  queues:
    hmppsdomainqueue:
      queueName: ${HMPPS_DOMAIN_QUEUE_NAME}
      queueArn: ${HMPPS_DOMAIN_QUEUE_ARN}
      dlqName: ${HMPPS_DOMAIN_DL_QUEUE_NAME}
      subscribeTopicId: domainevents
    plpsubscriberqueue:
      queueName: ${PLP_QUEUE_NAME}
      queueArn: ${PLP_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    pndsubscriberqueue:
      queueName: ${PND_QUEUE_NAME}
      queueArn: ${PND_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    catssubscriberqueue:
      queueName: ${CATS_QUEUE_NAME}
      queueArn: ${CATS_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
    ctrlosubscriberqueue:
      queueName: ${CTRLO_QUEUE_NAME}
      queueArn: ${CTRLO_QUEUE_ARN}
      subscribeTopicId: integrationeventtopic
  topics:
    integrationeventtopic:
      arn: ${INTEGRATION_EVENT_TOPIC_ARN}

hmpps.secret:
  secrets:
    MEGANEXUS:
      secretId: live-hmpps-integration-api-preprod-2fa8e4a7ee3726fc
      queueId: plpsubscriberqueue
    PND:
      secretId: live-hmpps-integration-api-preprod-afea65e8d033b24c
      queueId: pndsubscriberqueue
    CATS:
      secretId: live-hmpps-integration-api-preprod-87569c2f1e5db329
      queueId: catssubscriberqueue
    CTRLO:
      secretId: live-hmpps-integration-api-preprod-e39c55208cbb13bf
      queueId: ctrlosubscriberqueue

notifier:
  schedule:
    rate: 10000

subscriber-checker:
  schedule:
    rate: 600000

feature-flag:
  person-languages-changed-notifications-enabled: true
  prisoner-base-location-changed-notifications-enabled: true
  prisoner-merge-notifications-enabled: false
  contact-events-notifications-enabled: false
  limited-access-notifications-enabled: true
  enable-delete-processed-events: true
  enable-publish-pending-events: true
